page-home {
  .custom-button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .custom-button {
      width: 40%;
      margin: 8px 0;

      &.layout {
        display: flex;
        align-items: center;
        flex-direction: column;
        border: 1px solid #A6A9AB;
        border-radius: 8px;
        overflow: hidden;
        background-color: #A6A9AB;
        box-shadow: 4px 4px 12px #A6A9AB;
      }

      .button-image {
        margin: 8px;
        width: 100%;
        object-fit: contain;
        height: 70px;
      }

      .button-text {
        width: 100%;
        height: 40px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 5px 7px 5px;
      }
    }
  }
}
