page-sendpicture {

  .white-1 {
    //set the height to 100% of the viewport less the height of the header
    height: calc(100vh - 48px);

    //set the width to 100% of the viewport width
    width: 100vw;

    //remove border, padding, margin
    border: none;
    padding: 0;
    margin: 0;
  }

  .picturetemplate {
    padding: 5px;

    .box {
      background-color: #eeeeee;
      border-radius: 8px;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      &.transparent {
        background-color: transparent;
      }

      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
        min-height: 120px;
      }

      button {
        position: absolute;
        right: 0;
        top: 0;
        //border-radius: 50%;
        width: 25px;
        height: 25px;
        background-color: #fff;

        ion-icon {
          color: #007aff;
        }
      }
    }
  }

  .instruction-link {
    margin-bottom: 18px;

    a {
      font-size: 18px;
      color: $d-purple;
    }
  }

  * {
    margin: 0;
    padding: 0;
  }
  .imgbox {
      display: grid;
      height: 100%;
  }
  .center-fit {
      max-width: 100%;
      max-height: 100vh;
      margin: auto;
  }
  .my-overlay {
      position: fixed;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0);
      z-index: 20;
      top: 0;
      left: 0;
    }

  .buttonbox {
      display: grid;
      height: 100%;
      /* Center horizontally */
      position: absolute; margin: auto;

      width: 75px; height: 75px;
      left: 0px; right: 0px; bottom: 70px;
  }

  .checkbutton {
      color: green;
      font-size: 50px;
      display: grid;
      height: 100%;
      /* Center horizontally */
      position: absolute; margin: auto;

      width: 70px; height: 70px;
      right: 50px; bottom: 70px;
  }
  .crossbutton {
      color: red;
      font-size: 50px;
      display: grid;
      height: 100%;
      /* Center horizontally */
      position: absolute; margin: auto;

      width: 70px; height: 70px;
      left: 50px; bottom: 70px;
  }
  .cancelbutton {
    display: grid;
    height: 100%;
    /* Center horizontally */
    position: absolute; margin: auto;

    width: 70px; height: 70px;
    left: 20px; top: 50px;
  }
}
